---
import Container from '@components/container.astro';
import Layout from '../../layouts/Layout.astro';
import ZoteroFetcher from '../../components/ZoteroFetcher.astro';
import { getCollection } from 'astro:content';
import { Icon } from 'astro-icon/components';

const base = import.meta.env.BASE_URL;

const agenda2030_base = 'https://www.bmz.de/de/agenda-2030/sdg-';

export async function getStaticPaths() {
  const sdgEntries = await getCollection('SDGs');
  return sdgEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();

const sdg_svg = base + '/icons/SDG-icon-DE-' + entry.data.number + '.svg';
---

<link
  href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
  rel="stylesheet"
/>

<Layout title={entry.data.number + ' | ' + entry.data.title}>
  <Container class="px-3">
    <div class="grid grid-cols-1 md:grid-cols-[auto_25%] gap-8 mt-8 px-2">
      <div>
        <div class="grid md:grid-cols-[140px_auto] gap-4 mb-6">
          <img class="pt-2" src={sdg_svg} />
          <div>
            <h1 class="text-2xl md:text-4xl hyphens-auto">
              {entry.data.title}
            </h1>
            <p class="text-md md:text-xl">{entry.data.subtitle}</p>
            <div class="flex mt-4 gap-4">
              <div class="w-1/16">
                <Icon
                  class="text-black block size-8 bx-pull-left"
                  name="bx:bx-info-square"
                />
              </div>
              <div class="w-15/16">
                <a
                  class="text-md text-sky-500 underline inline"
                  href={`${agenda2030_base}${entry.data.number}`}>
                  Weiterführende Informationen des Bundesministeriums für
                  wirtschaftliche Zusammenarbeit und Entwicklung (BMZ) zu diesem
                  Nachhaltigkeitsziel</a
                >
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="mt-6">
            <h4 class="text-2xl mb-2 border-b-2">Literatur</h4>
            <div class="references md:columns-1">
              <ZoteroFetcher id={entry.data.zotero_id} />
            </div>
          </div>
        </div>
        <h4 class="mt-8 text-2xl mb-2 border-b-2">
          Kommentiere diese Seite mit Anregungen oder Kritik.
        </h4>
        <p>
          Du kannst auch eine weitere Quelle für die Literaturliste und weitere Reflexionsfragen vorschlagen.
        </p>
        <div class="mt-8 giscus"></div>
      </div>
      <div class="instructions">
        <h2 class="text-3xl mb-4 border-b-2">
          <Icon
            class="text-black bx-pull-left"
            name="bx:bx-cloud-lightning"
          />
          Lernanregungen
        </h2>
        <div class="prose prose-ul:pl-5 prose-li:leading-normal">
          <p class="leading-normal">
            <strong
              >Um verschiedene Perspektiven auf KI und Nachhaltigkeit in diesem SDG zu
              verstehen, schlagen wir dir Folgendes vor:</strong
            >
          </p>
          <ul>
            <li>
              <strong>Such dir noch eine weitere Person</strong>, mit der du
              dich über das Thema unterhalten möchtest.
            </li>
            <li>
              <strong
                >Beschäftigt euch mit den Zielen und Unterzielen dieses SDGs.</strong>
            </li>
            <li>
              <strong>Schaut euch die Reflexionsfragen an</strong>, die als
              Einstieg in die Texte dienen können.
            </li>
            <li>
              <strong>Sucht euch zwei Texte aus der Liste aus</strong>, die
              konträre Positionen vertreten. Wenn es nicht genügend Texte gibt,
              dann recherchiert gern selbst welche und schlagt sie unten in den
              Kommentaren vor.
            </li>
            <li>
              Lest die Texte gemeinsam. <strong>Sprecht miteinander</strong> über
              Aspekte, die ihr nicht versteht und dich euch bewegen und interessieren.
            </li>
            <li>
                <strong>Erläutert</strong> euch und anderen <strong>die technischen Hintergründe</strong> der
                KI-Ansätze in den Texten.
            </li>
            <li>Überlegt euch, wie ihr zu diesem SDG <strong>aktiv werden</strong> könnt.</li>
          </ul>
          <p class="leading-normal mb-6">
            <strong
              >Dieses Projekt wird besser, wenn du weitere Texte beisteuerst.</strong>
          </p>
        </div>
        <h2 class="text-3xl mb-4 border-b-2">
          <Icon
            class="text-black bx-pull-left"
            name="bx:bx-bell"
          />
          Reflexionsfragen
        </h2>
        <div class="prose prose-ul:pl-5 prose-li:leading-normal">
          <p class="leading-normal">
            <strong
              >Die folgenden Fragen sind Vorschläge zum Einstieg in die
              Reflexion.</strong
            >
          </p>
          <Content />
          <p class="leading-normal">
            <strong
              >Schreibt eure eigenen Fragen gern in die Kommentare.</strong>
          </p>
        </div>
      </div>
    </div>
  </Container>
</Layout>

<style>
  .references {
    hyphens: auto;
    word-break: break-word;
  }

  .questions li::marker {
    color: red;
    font-size: 1.5em;
    content: '✝ ';
  }
</style>

<script
  src="https://giscus.app/client.js"
  data-repo="xldrkp/ki-und-nachhaltigkeit-2"
  data-repo-id="R_kgDOMagFsg"
  data-category="SDGs"
  data-category-id="DIC_kwDOMagFss4ChPaY"
  data-mapping="pathname"
  data-strict="1"
  data-reactions-enabled="0"
  data-emit-metadata="1"
  data-input-position="top"
  data-theme="light"
  data-lang="de"
  data-loading="lazy"
  crossorigin="anonymous"
  async
></script>
