---
import Container from '@components/container.astro';
import Layout from '../../layouts/Layout.astro';
import ZoteroFetcher from '../../components/ZoteroFetcher.astro';
import { getCollection } from 'astro:content';

const base = import.meta.env.BASE_URL;

const agenda2030_base = 'https://www.bmz.de/de/agenda-2030/sdg-';

export async function getStaticPaths() {
  const sdgEntries = await getCollection('SDGs');
  return sdgEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();

const sdg_svg = base + '/icons/SDG-icon-DE-' + entry.data.number + '.svg';
---

<Layout title={entry.data.number + ' | ' + entry.data.title}>
  <Container class="px-3">
    <div class="grid grid-cols-1 md:grid-cols-[auto_25%] gap-8 mt-8 px-2">
      <div>
        <div class="grid md:grid-cols-[140px_auto] gap-4 mb-6">
          <img src={sdg_svg} />
          <div>
            <h1 class="text-4xl hyphens-auto">{entry.data.title}</h1>
            <p class="text-xl">{entry.data.subtitle}</p>
            <p class="text-sky-500 mb-4 mt-4">
              <a href={`${agenda2030_base}${entry.data.number}`}
                >Weiterführende Informationen des Bundesministeriums für wirtschaftliche Zusammenarbeit und Entwicklung (BMZ) zu diesem Nachhaltigkeitsziel</a
              >
            </p>
          </div>
        </div>
        <div>
          <div class="mt-6">
            <h4 class="text-2xl mb-2 border-b-2">Literatur</h4>
            <div class="references md:columns-1">
              <ZoteroFetcher id={entry.data.zotero_id} />
            </div>
          </div>
        </div>
        <h4 class="mt-8 text-2xl mb-2 border-b-2">Kommentiere diese Seite mit Anregungen oder Kritik.</h4>
        <div class="mt-8 giscus"></div>
      </div>
      <div class="questions">
        <h2 class="text-3xl mb-4 border-b-2">Fragen</h2>
        <div class="prose prose-ul:pl-5 prose-li:leading-normal">
          <p class="leading-normal">
            <strong
              >Die folgenden Fragen sind Vorschläge zum Einstieg in die
              Reflexion.</strong
            >
          </p>
          <Content />
        </div>
      </div>
    </div>
  </Container>
</Layout>

<style>
  .references {
    hyphens: auto;
    word-break: break-word;
  }

  .questions li::marker {
    color: red;
    font-size: 1.5em;
    content: '✝ ';
  }
</style>

<script
  src="https://giscus.app/client.js"
  data-repo="xldrkp/ki-und-nachhaltigkeit-2"
  data-repo-id="R_kgDOMagFsg"
  data-category="SDGs"
  data-category-id="DIC_kwDOMagFss4ChPaY"
  data-mapping="pathname"
  data-strict="1"
  data-reactions-enabled="0"
  data-emit-metadata="1"
  data-input-position="top"
  data-theme="light"
  data-lang="de"
  data-loading="lazy"
  crossorigin="anonymous"
  async
></script>
